body {
    margin: 0;
    font-family: "Oswald";
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 35;
    position: sticky;
    top: 0px;
    background-color: #8cabf0;
}

header ul {
    list-style-type: none;
    /*quito el estilo de la lista para que no me salgan los puntos por defecto*/
    margin: 0;
    padding: 0;
    /*Margin y padding a 0 para que se rellene por completo el botón del menú*/
}

header ul li {
    float: left;
}


header ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header ul li a:hover {
    background-color: #6e6e6e;
}



a.i {
    font-size: 36px;
    margin-right: 15px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

#logo {
    display: flex;
    justify-content: center;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-flow: row wrap;
    /*Para que el flex se pliegue con la página*/
}

#articulo {
    background-color: #8cabf0;
    text-align: justify;
    border-radius: 25px;
    padding: 15px;

    max-width: 40%;
    flex: 1; /* con esto conseguimos que los elementos del flex se mantengan del mismo tamaño*/
}

.cabecera {
    text-align: center;
    font-size: 1.2em;
}

#articulo img {
    max-width: 90%;
    max-height: 90%;
    display: block;
    margin: auto;
    border-radius: 25px;
}

.cuerpo {
 padding-left: 15PX;
 padding-right: 15px;
    font-size: 1.2em;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    padding: 10px;
}

.grid-galeriaVideos {
    margin: auto;
    margin-bottom: 20px;
}

.grid-titulos {
    padding: 5px;
    text-align: center;
    font-size: 1.4em;
    padding-top: 0px;
}

iframe {
    width: 560px;
    height: 315px;
}

/* Pruebas de media query para abrirlo en movil */
@media only screen and (max-width: 600px) {
    body{
        font-size: 0.7em;
}
    header {
        flex-direction: column;
        align-items: center;
        font-size: 1.4em;
    }

    header ul li {
        float: left;
    }

    .grid-container {
        grid-template-columns: auto;
    }

    .grid-galeriaVideos {

        justify-content: space-around;
    }

    iframe {
        width: 100%;
        height: 100%;
    }
.flex-container{
    flex-direction: column;
    justify-content: center;
   margin: 0px;
}
#articulo{
width: 80%;
margin-bottom: 20px;
}

#articulo img{
padding: 5px;
}

}